doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='SPARKER - Premium directory and listings template by Ansonika.')
        meta(name='author', content='Ansonika')
        title SPARKER | Premium directory and listings template by Ansonika.
        // Favicons
        link(rel='shortcut icon', href='front/img/favicon.ico', type='image/x-icon')
        link(rel='apple-touch-icon', type='image/x-icon', href='img/apple-touch-icon-57x57-precomposed.png')
        link(rel='apple-touch-icon', type='image/x-icon', sizes='72x72', href='front/img/apple-touch-icon-72x72-precomposed.png')
        link(rel='apple-touch-icon', type='image/x-icon', sizes='114x114', href='front/img/apple-touch-icon-114x114-precomposed.png')
        link(rel='apple-touch-icon', type='image/x-icon', sizes='144x144', href='front/img/apple-touch-icon-144x144-precomposed.png')
        // GOOGLE WEB FONT
        link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700', rel='stylesheet')
        // BASE CSS
        link(href='front/css/bootstrap.min.css', rel='stylesheet')
        link(href='front/css/style.css', rel='stylesheet')
        link(href='front/css/vendors.css', rel='stylesheet')
    body#login_bg
        nav#menu.fake_menu
        #login
            aside
                figure
                    a(href='/')
                        img.logo_sticky(src='front/img/logo_sticky.svg', width='165', height='35', alt='')
                form(method='post', action='/login')
                    #status
                        if !status
                            p.alert-danger= message
                    .form-group
                        label Email
                        input#email.form-control(type='email', name='email')
                        i.icon_mail_alt
                    .form-group
                        label Password
                        input#password.form-control(type='password', name='password', value='')
                        i.icon_lock_alt
                    .clearfix.add_bottom_30
                        .checkboxes.float-left
                            label.container_check
                                | Remember me
                                input(type='checkbox')
                                span.checkmark
                        .float-right.mt-1
                            a#forgot(href='javascript:void(0);') Forgot Password?
                    button.btn_1.rounded.full-width(type='submit', value='Submit') Login Now
                    .text-center.add_top_10
                        | New to Sparker?
                        strong
                            a(href='register') Sign up!
                .copy © 2018 Sparker
        // /login
        // COMMON SCRIPTS
        script(src='front/js/common_scripts.js')
        script(src='front/js/functions.js')
        script(src='front/assets/validate.js')
